<!DOCTYPE html>
<html>
  <head>
    <title>Gmap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyBiJraOJLQYIvr3CP9oZ3EhuMzw0ZTt11o&callback=initMap', async: true, defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
